*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: 
}

img {
  width: 100%;
}

input {
  outline: none;
  border: none;
}

.site-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #011638;
  padding: 0.4vw 2vw;
  color: white
}

.nav-left,
.nav-right {
  flex-grow: 1;
  flex-basis: 0;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5vw;
}

.nav-center {
  width: 35vw;
}

.nav-left {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-right: 0.5vw;
}

.brand-name {
  display: flex;
  list-style-type: none;
  gap: 0.25vw;
  font-size: 1.5vw;
  color: black;
}

.brand-name > li {
  width: 1.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(126, 126, 212);
}

.brand-name .sp {
  background-color: yellow;
}

.search-box {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 2.5vw;
  gap: 0.7vw;
  background-color: white;
}

.search-box .search-icon {
  font-size: 1vw;
}

.search-icon-box {
  height: 100%;
  padding: 0.2vw 0.7vw;
  background-color: rgb(219, 182, 253);
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
}

.search-input {
  height: 100%;
  font-size: 1.2vw;
  width: 100%;
}

.search-field {
  height: 10%;
  background-color: white;
}

.xmark-icon-box {
  width: 2vw;
  padding: 0 0.8vw;
  display: flex;
  align-items: center;
}

.xmark-icon {
  color: red;
  font-size: 1.1vw;
}

.nav-bar {
  border-top: 1px solid black;
}

.nav-track {
  
}

.track-order-link {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.register {
  padding: 0.2vw 0.5vw;
}

.register {
  display: flex;
  border-radius: 5px;
}

.nav-account > a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.nav-cart-box {
  display: flex;
  gap: 0.7vw;
  align-items: center;
  border: 1px solid yellow;
  border-radius: 5px;
  padding: 0.4vw 0.5vw;
}

.cart-icon {
  font-size: 1.4vw;
}

.lang-img {
  width: 2vw;
}

.lang-box {
  padding: 0.3vw;
  position: relative;
}

.lang-options-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
  background-color: white;
  padding: 0.3vw 1vw;
}

.lang-option {
  display: flex;
  align-items: center;
  gap: 0.7vw;
  color: black;
}

h4 {
  font-size: 1.2vw;
}

p{
  font-size: 1vw;
}