* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  height: 100vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* ==================
   >  NavBar Style  <
   ================== */

.nav-mobile {
  display: none;
}


.navbar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.nav-icon {
  font-size: 1.2rem;
}

/* Navbar Top */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.navbar-top .left,
.navbar-top .right {
  display: flex;
  gap: 1em;
  align-items: center;
} 

/* Navbar Main = Navbar Middle */
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  width: 180px;
}

.nav-main-middle {
  width: 50%;
  max-width: 600px;
  height: 40px;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.nav-category-box {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0 0.5em;
  height: 100%;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid black;
}

.searchbar {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: skyblue;
  border-radius: 0 0.5em 0.5em 0;
  border: 1px solid black;
}

.searchbar-input {
  flex-grow: 1;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0 1em 1em 0;
  padding: 0 1em;
  outline: none;
  border: none;
  font-size: 1rem;
}

.search-icon-box {
  height: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.search-icon {  
  font-size: 1.3rem;
}

.navbar-action-buttons {
  display: flex;
  gap: 1em;
  align-items: center;
}

.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NavBar Bottom Style*/
.navbar-bottom {
  display: flex;
  gap: 1em;
}

.category-box {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 18px;
}



@media only screen  and (max-width: 1080px) {
  .site-wrapper {
    width: 95%;
  }

  .nav-main-middle {
    height: 30px;
  }

  .nav-category-box {
    padding: 0 1em;
  }

  .nav-category-text {
    display: none;
  }

  .navbar-logo > img {
    width: 150px;
  }

  .action-description {
    display: none;
  }

  .navbar-action-buttons {
    gap: 1.5em;
  }
  
}

.dim {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

.main {
  height: 100%;
}
.color-red {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 0.5em 2em;
  z-index: 1;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .site-wrapper {
    padding-bottom: 60px;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
    padding: 0.5em 1em;
    position: relative;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .nav-mobile-logo {
    width: 120px;
  }

  .nav-mobile-icon {
    font-size: 1.4em;
  }

  .nav-mobile-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    padding: 1em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
  }

  .categories-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color: white;
    height: 100%;
  } 

  .nav-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    border-bottom: 1px solid black;
  }

  .nav-mobile-top .btn {
    border: 1px solid black;
    padding: 0.3em 0.5em;
  }

  .nav-mobile-top .title {
    font-size: 1.2em;
  }

  .nav-mobile-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-bottom: 1px solid black;
  }

  .nav-mobile-category .title {
    display: flex;
    justify-content: space-between;
  }

  .category-mobile-box {
    display: flex;
    gap: 0.5em;
  }

  .category-mobile-dropdown-box {
    border-bottom: 1px solid black;
    display: flex;
    gap: .5em;
  }
}