* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.site-wrapper {
  height: 100vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* ==================
   >  NavBar Style  <
   ================== */

.nav-mobile {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.nav-icon {
  font-size: 1.2rem;
}

/* Navbar Top */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.navbar-top .left,
.navbar-top .right {
  display: flex;
  gap: 1em;
  align-items: center;
} 

/* Navbar Main = Navbar Middle */
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  width: 180px;
}

.nav-main-middle {
  width: 50%;
  max-width: 600px;
  height: 40px;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.nav-category-box {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0 0.5em;
  height: 100%;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid black;
}

.searchbar {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: skyblue;
  border-radius: 0 0.5em 0.5em 0;
  border: 1px solid black;
}

.searchbar-input {
  flex-grow: 1;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0 1em 1em 0;
  padding: 0 1em;
  outline: none;
  border: none;
  font-size: 1rem;
}

.search-icon-box {
  height: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.search-icon {  
  font-size: 1.3rem;
}

.navbar-action-buttons {
  display: flex;
  gap: 1em;
  align-items: center;
}

.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NavBar Bottom Style*/
.navbar-bottom {
  display: flex;
  gap: 1em;
}

.category-box {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 18px;
}



@media only screen  and (max-width: 1080px) {
  .site-wrapper {
    width: 95%;
  }

  .nav-main-middle {
    height: 30px;
  }

  .nav-category-box {
    padding: 0 1em;
  }

  .nav-category-text {
    display: none;
  }

  .navbar-logo > img {
    width: 150px;
  }

  .action-description {
    display: none;
  }

  .navbar-action-buttons {
    gap: 1.5em;
  }
  
}

.dim {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

.main {
  height: 100%;
}
.color-red {
  color: red;
}


/* ========== */
/* >  Card  < */
/* ========== */

.card {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-header {
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 550;
}

.product-brand {
  font-weight: bolder;
}

.product-description {
  font-size: 0.9rem;
}

.product-statistics {
  display: flex;
  justify-content: space-between;
}

.product-rating,
.product-comment {
  display: flex;
  gap: 0.5em;
}

.brand-price {
  display: flex;
  justify-content: space-between;
}

.card-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  height: 30px;
}

.card-button-box {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.buy-button {
  background-color: #07F369;
}

.cart-button {
  background-color: #12143D;
  color: white;
}

.card-heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ========== */
/* >  Card  < */
/* ========== */

.detail {
  display: flex;
  flex-direction: column;
}

.detail-header {
  display: flex;
}

.detail-image-box {
  display: flex;
  gap: 1em;
}

.detail-image-option-box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 65px;
}

.detail-image-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  border: 1px solid black;
}

.detail-main-image {
  width: 400px;
}

.detail-info-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail-product-rating-box {
  display: flex;
  flex-direction: column;
}

.detail-product-rating-info {
  display: flex;
  gap: 1em;
}

.detail-product-price-box {
  display: flex;
  gap: 1.5em;
}

.detail-product-price-info {
  display: flex;
  gap: 0.5em;
}

.detail-product-status {
  display: flex;
  gap: 0.5em;
}

.detail-product-option-box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.detail-product-options {
  display: flex;
  gap: 0.5em;
}
.detail-product-current-option {
  display: flex;
}
.detail-product-option{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  border: 1px solid;
}

.detail-product-option-image {
  width: 60px;
}

.detail-product-info-list {
  display: flex;
  flex-direction: column;
}

.detail-product-info-item {
  display: flex;
  gap: 1em;
}


.detail-header-left {
  display: flex;
  gap: 1em;
}

.detail-product-action-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 450px;
  border: 1px solid black;
  padding: 1em;
}

.detail-total-price {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border: 1px solid black; 
  border-radius: 5px;
}

.detail-product-amount {
  display: flex;
  align-items: center;
  gap: 1em;
}

.amount-changer {
  display: flex;
}

.amount-changer > div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border: 1px solid black;
}

.detail-product-cart-button,
.detail-product-buy-button,
.detail-product-wish-button {
  display: flex;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.detail-product-cart-button{
  background-color: #002286;
  color: white;
}
.detail-product-buy-button{
  background-color: #e4e4e4;
}

.detail-product-wish-button {
  border: 1px solid black;
}

.detail-product-promotions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail-promotion {
  display: flex;
  gap: 0.5em;
}


@media only screen and (max-width: 768px) {
  .site-wrapper {
    padding-bottom: 60px;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
    padding: 0.5em 1em;
    position: relative;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .nav-mobile-logo {
    width: 120px;
  }

  .nav-mobile-icon {
    font-size: 1.4em;
  }

  .nav-mobile-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    padding: 1em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
  }

  .categories-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color: white;
    height: 100%;
  } 

  .nav-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    border-bottom: 1px solid black;
  }

  .nav-mobile-top .btn {
    border: 1px solid black;
    padding: 0.3em 0.5em;
  }

  .nav-mobile-top .title {
    font-size: 1.2em;
  }

  .nav-mobile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .nav-mobile-dropdown .dropdown-content-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0.7em 1em;
  }

  .nav-mobile-dropdown .dropdown-button {
    width: 100%;
    display: flex;
    gap: 0.5em;
  }

  .nav-mobile-category .title {
    display: flex;
    justify-content: space-between;
  }

  .category-mobile-box {
    display: flex;
    gap: 0.5em;
  }

  .category-mobile-dropdown-box {
    border-bottom: 1px solid black;
    display: flex;
    gap: .5em;
  }
}